header, main{
    text-align: center;
}

table {
    display: inline-block;
    border: 1px solid black;
    padding: 2em;
}

.modal{
    text-align: center;
    border: 1px solid black;
    padding: 2em;
}

.modal__header{
    display: inline;
    text-align: center;
}

.modal-title{
    margin: 0
}

.modal__header h2{
    display: inline;
    margin: 0 1em;
}

.modal__header .botao_fechar{
    color: white;
    background: red;
    border: none;
    border-radius: 4px;
    padding: .4em;
}

button{
    color: white;
    background: rgb(53, 53, 182);
    border: none;
    border-radius: 4px;
    padding: .5em;
    margin: 0 .3em;
}



